<div id="mainContainer">
    <div id="infoCard" class="whiteBack primaryDarkColor">
        <mat-icon class="pic">info</mat-icon>
        <h2>Information</h2>
        <a href="">
            <mat-icon>chevron_right</mat-icon>
        </a>
    </div>
    <div id="riskCard" class="whiteBack primaryDarkColor">
        <mat-icon class="pic">edit</mat-icon>
        <h2>Skapa riskbedömning</h2>
        <a href="">
            <mat-icon>chevron_right</mat-icon>
        </a>
    </div>
    <div id="depCard" class="whiteBack">
        <img id="img" src="./assets/images/depimg.png" alt="department overview">
        <h2 id="rightHeader" class="primaryDarkColor">Översikt - Avdelning 9</h2>
    </div>
</div>