<div id="mainContainer">
    <div id="infoCard">
        <mat-icon class="pic">info</mat-icon>
        <h2>Information</h2>
        <a routerLink="../information">
            <mat-icon>chevron_right</mat-icon>
        </a>
    </div>
    <div id="riskCard">
        <mat-icon class="pic">edit</mat-icon>
        <h2>Skapa riskbedömning</h2>
        <a routerLink="../risk">
            <mat-icon>chevron_right</mat-icon>
        </a>
    </div>
    <div id="depCard">
        <img id="img" src="./assets/images/depimg.png" alt="department overview">
        <h2 id="rightHeader">Översikt - Avdelning 9</h2>
    </div>
</div>