#mainContainer {
    width: 80vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

#mainContainer div {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 6px 6px;
    box-shadow: 3px 3px 8px lightgray;
    color: var(--primary600);
}

div h2 {
    position: relative;
    bottom: 25px;
    line-height: 100%;
    margin-left: 5%;
    display: inline-block;
    width: 65%;
    height: 10%;
    color: var(--primary600);
}

div mat-icon {
    font-size: 250px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    color: var(--primary600);
}

div a {
    position: relative;
    bottom: 10px;
    width: 25%;
    height: 15%;
    color: var(--primary600);
}

div a mat-icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
    color: var(--primary600);
}

#infoCard {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

#riskCard {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}

#depCard {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#rightHeader {
    width: 50%;
    margin-left: 0;
    margin-top: -140px;
    text-align: center;
}

#img {
    height: 100%;
    width: 50%;
}