    mat-card {
        width: 45vmin;
        height: 45vmin;
        border-radius: 16px;
    }
    
    mat-card-actions {
        height: 10%;
    }
    
    mat-card-content {
        height: 80%;
    }
    
    a {
        position: relative;
        left: 2.5%;
    }
    
    h3 {
        float: left;
        min-width: 80%;
        max-width: 80%;
        margin-left: 5%;
        color: #004894;
        font-size: 1.5rem;
    }
    
    .main-icon {
        color: #1688D7;
        font-size: 35vmin;
        width: 35vmin;
        margin-left: 10%;
    }
    
    .arrow-icon {
        color: #1688D7;
        font-size: 2rem;
    }