#mainCont {
    height: 90vh;
    max-width: 20vw;
    margin-right: 4.5vw;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

ul {
    padding-left: 15px;
    margin-top: 0;
}

ul li {
    list-style: none;
    margin-top: 45px;
}

ul li mat-icon {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

ul li h2 {
    height: 2.25rem;
    line-height: 2.25rem;
    font-size: var(--smallFont);
    text-align: left;
    text-decoration: none;
}

.hide {
    display: none;
}

#full-side-navbar {
    border-right: 1px solid;
}

#full-side-navbar ul {
    margin-right: 0.5vw;
}