<div id="mainCont">

    <div id="side-navbar">
        <ul>
            <li>
                <a routerLink="menu" routerActive="primaryDarkColor">
                    <mat-icon>home</mat-icon>
                </a>
            </li>
            <li>
                <a>
                    <mat-icon routerLink="risk" routerActive="primaryDarkColor">edit</mat-icon>
                </a>
            </li>
            <li>
                <a routerLink="overview" routerActive="primaryDarkColor">
                    <mat-icon>insert_chart_outlined</mat-icon>
                </a>
            </li>
            <li>
                <a routerLink="department" routerActive="primaryDarkColor">
                    <mat-icon>history</mat-icon>
                </a>
            </li>
            <li>
                <a>
                    <mat-icon>info</mat-icon>
                </a>
            </li>
            <li>
                <a>
                    <mat-icon>menu_book</mat-icon>
                </a>
            </li>
        </ul>
    </div>

    <div id="full-side-navbar" [class.hide]="!showFull">
        <ul>
            <li>
                <h2 class="primaryDefaultColor">Hem</h2>
            </li>
            <li>
                <h2 class="primaryDefaultColor">Skapa riskbedömning</h2>
            </li>
            <li>
                <h2 class="primaryDefaultColor">Statistik</h2>
            </li>
            <li>
                <h2 class="primaryDefaultColor">Historik</h2>
            </li>
            <li>
                <h2 class="primaryDefaultColor">Information</h2>
            </li>
            <li>
                <h2 class="primaryDefaultColor">Manual</h2>
            </li>
        </ul>
    </div>
</div>