#side-navbar {
    color: #0066B3;
    height: 90vh;
    width: 20vw;
}

ul {
    list-style: none;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 15px;
    margin-top: 0;
}

ul li {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

ul li mat-icon {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

ul li a {
    margin-left: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 100%;
}

.text {
    visibility: hidden;
}