<div id="mainContainer">
    <h1>Statistik Avdelning 9</h1>
    <h2>2020-09-02</h2>
    <div id="contentContainer">
        <div id="leftContainer"></div>
        <div id="rightContainer">
            <div id="header">
                <div id="firstHeaderBox" class="headerBox"></div>
                <div id="secondHeaderBox" class="headerBox"></div>
                <div id="thirdHeaderBox" class="headerBox"></div>
                <div id="fourthHeaderBox" class="headerBox"></div>
                <div id="fifthHeaderBox" class="headerBox"></div>
            </div>
            <div id="recommendations">
                <app-hollow-button [buttonText]="Test"></app-hollow-button>
                <app-hollow-button [buttonText]="Test"></app-hollow-button>
                <app-hollow-button [buttonText]="Test"></app-hollow-button>
                <app-hollow-button [buttonText]="Test"></app-hollow-button>
                <app-hollow-button [buttonText]="Test"></app-hollow-button>
                <app-hollow-button [buttonText]="Test"></app-hollow-button>
                <app-hollow-button [buttonText]="Test"></app-hollow-button>
            </div>
            <div id="careStrain">
                <app-hollow-button id="firstCareBtn" [buttonText]="Strain"></app-hollow-button>
                <app-hollow-button id="secondCareBtn" [buttonText]="Strain"></app-hollow-button>
                <app-hollow-button [buttonText]="Strain"></app-hollow-button>
                <app-hollow-button [buttonText]="Strain"></app-hollow-button>
                <app-hollow-button [buttonText]="Strain"></app-hollow-button>
            </div>
            <div id="cRow"></div>
            <div id="dRow"></div>
            <div id="eRow"></div>
        </div>
    </div>
</div>