    #mainContainer {
        width: 74vw;
        height: 90vh;
        margin-right: 2.5vw;
    }
    
    h1,
    h2 {
        color: #004894;
        margin-left: 2.5vw;
        margin-top: 2.5vh;
    }
    
    #contentContainer {
        display: flex;
        justify-self: stretch;
        align-items: stretch;
        flex-direction: row;
        height: 82.5%;
    }
    
    #leftContainer {
        flex: 1 1 100px;
        display: flex;
        flex-direction: column;
        margin-right: 1vw;
    }
    
    #leftContainer app-small-card {
        flex: 1 1 50px;
    }
    
    #leftContainer #secondBoxHeader {
        width: 80%;
        margin-left: 20%;
    }
    
    #leftContainer #thirdBoxHeader,
    #fourthBoxHeader,
    #fifthBoxHeader {
        width: 40%;
        margin-left: 60%;
    }
    
    #rightContainer {
        flex: 4 1 400px;
        min-height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
    }
    
    #header {
        flex: 2 2 100px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    
    #firstHeaderBox {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    #secondHeaderBox {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    
    #thirdHeaderBox {
        grid-column-start: 5;
        grid-column-end: 6;
    }
    
    #fourthHeaderBox {
        grid-column-start: 6;
        grid-column-end: 7;
    }
    
    #fifthHeaderBox {
        grid-column-start: 7;
        grid-column-end: 8;
    }
    
    .headerBox {
        border: 1px solid #E3F2FB;
    }
    
    .headerBox p {
        color: #0066B3;
        font-size: 1.25rem;
        margin-left: 5px;
        margin-top: 5px;
        width: 48%;
        height: 100%;
        display: inline-block;
    }
    
    .headerBox h2 {
        color: #004894;
        font-size: 1.5rem;
        border-bottom: 1px solid #E3F2FB;
        margin: auto;
        margin-left: 5px;
        margin-top: 5px;
    }
    
    #recommendations {
        flex: 1 1 50px;
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(7, 1fr);
    }
    
    #firstRecCard {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    #secondRecCard {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    #thirdRecCard {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    #fourthRecCard {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    
    #fiveRecCard {
        grid-column-start: 5;
        grid-column-end: 6;
    }
    
    #sixRecCard {
        grid-column-start: 6;
        grid-column-end: 7;
    }
    
    #sevenRecCard {
        grid-column-start: 7;
        grid-column-end: 8;
    }
    
    #careStrain {
        flex: 1 1 50px;
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(7, 1fr);
    }
    
    #firstCareCard {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    #secondCareCard {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    
    #thirdCareCard {
        grid-column-start: 5;
        grid-column-end: 6;
    }
    
    #fourthCareCard {
        grid-column-start: 6;
        grid-column-end: 7;
    }
    
    #fifthCareCard {
        grid-column-start: 7;
        grid-column-end: 8;
    }
    
    #cRow {
        flex: 1 1 50px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 5px;
    }
    
    #firstCardC {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    #secondCardC {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    #thirdCardC {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    #dRow {
        flex: 1 1 50px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 5px;
    }
    
    #firstCardD {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    #secondCardD {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    #thirdCardD {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    
    #eRow {
        flex: 1 1 50px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    
    #firstCardE {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    #secondCardE {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    #thirdCardE {
        grid-column-start: 4;
        grid-column-end: 5;
    }