<div id="mainContainer">
    <h1>Statistik Avdelning 9</h1>
    <h2>2020-09-02</h2>
    <div id="contentContainer">
        <app-card id="firstSideHeader" class="sideHeader" content="Enligt rekommendationer"></app-card>
        <app-card id="secondSideHeader" class="sideHeader" content="Vårdbelastning"></app-card>
        <app-card id="thirdSideHeader" class="sideHeader" content="C"></app-card>
        <app-card id="fourthSideHeader" class="sideHeader" content="D"></app-card>
        <app-card id="fifthSideHeader" class="sideheader" content="E"></app-card>
        <div id="firstHeaderBox" class="headerBox">
            <h2>1</h2>
            <p>Elektrisk höj- och sänkbar säng</p>
            <p>Grid- och annan förflyttnings utrustning</p>
        </div>
        <div id="secondHeaderBox" class="headerBox">
            <h2>2</h2>
            <p>Stå- eller uppresningslyft</p>
            <p>Mobil- eller taklyft </p>
        </div>
        <div id="thirdHeaderBox" class="headerBox">
            <h2>3</h2>
            <p>På- och avtagning av stödstrumpor</p>
        </div>
        <div id="fourthHeaderBox" class="headerBox">
            <h2>4a</h2>
            <p>Höj- och sänkbar sittutrustning</p>
        </div>
        <div id="fifthHeaderBox" class="headerBox">
            <h2>4b</h2>
            <p>Höj- och sänkbar liggutrustning</p>
        </div>
        <app-card id="firstRecCard" class="recommendations" content=80%></app-card>
        <app-card id="secondRecCard" class="recommendations" content=10%></app-card>
        <app-card id="thirdRecCard" class="recommendations" content=0%></app-card>
        <app-card id="fourthRecCard" class="recommendations" content=67%></app-card>
        <app-card id="fiveRecCard" class="recommendations" content=83%></app-card>
        <app-card id="sixRecCard" class="recommendations" content=17%></app-card>
        <app-card id="sevenRecCard" class="recommendations" content=40%></app-card>

        <app-card id="firstCareCard" class="careStrains" content=44%></app-card>
        <app-card id="secondCareCard" class="careStrains" content=11%></app-card>
        <app-card id="thirdCareCard" class="careStrains" content=54%></app-card>
        <app-card id="fourthCareCard" class="careStrains" content=27%></app-card>
        <app-card id="fifthCareCard" class="careStrains" content=4%></app-card>

        <app-card id="firstCardC" class="cRowColumn" content=75%></app-card>
        <app-card id="secondCardC" class="cRowColumn" content=25%></app-card>
        <app-card id="thirdCardC" class="cRowColumn" content=25%></app-card>

        <app-card id="firstCardD" class="dRowColumn" content=80%></app-card>
        <app-card id="secondCardD" class="dRowColumn" content=0%></app-card>
        <app-card id="thirdCardD" class="dRowColumn" content=50%></app-card>

        <app-card id="firstCardE" class="eRowColumn" content=100%></app-card>
        <app-card id="secondCardE" class="eRowColumn" content=0%></app-card>
        <app-card id="thirdCardE" class="eRowColumn" content=100%></app-card>
    </div>
</div>