div {
    margin-left: 2.5vw;
    width: 75vw;
    height: 90vh;
    background: red;
    border: 3px solid darkgray;
}

#infoCard {
    margin-top: 2.5vh;
    ;
}

#makeCard {
    margin-top: 2.5vh;
}