html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    font-size: var(--largeFont);
}

h2 {
    font-size: var(--mediumFont);
}

div,
button,
a,
p {
    font-size: var(--smallFont);
}


/* All of the colors used in the prototype, with the corresponding names*/

:root {
    --primaryDark: #004894;
    --primaryDefault: #0066B3;
    --primary700: #0A76C5;
    --primary600: #1688D7;
    --primaryLight: #1F95E4;
    --primary400: #43A4E7;
    --primary300: #64B4EA;
    --primaryLighter: #8FC9F1;
    --primary100: #BADEF6;
    --primaryLightest: #E3F2FB;
    --warning: #EB5757;
    --aware: #FED765;
    --done: #219653;
    --A: #82A10D;
    --B: #B2B602;
    --C: #D3AB00;
    --D: #F5911B;
    --E: #D83000;
    --largeFont: 28px;
    --mediumFont: 24px;
    --smallFont: 20px;
}

.primaryDarkBack {
    background: var(--primaryDark);
}

.primaryDarkColor {
    color: var(--primaryDark);
}

.primaryDarkBorder {
    border-color: var(--primaryDark);
}

.primaryDefaultBack {
    background: var(--primaryDefault);
}

.primaryDefaultColor {
    color: var(--primaryDefault);
}

.primaryDefaultBorder {
    border-color: var(--primaryDefault);
}

.primary700Back {
    background: var(--primary700);
}

.primary700Color {
    color: var(--primary700);
}

.primary700Border {
    border-color: var(--primary700);
}

.primary600Back {
    background: var(--primary600);
}

.primary600Color {
    color: var(--primary600);
}

.primary600Border {
    border-color: var(--primary600);
}

.primaryLightBack {
    background: var(--primaryLight);
}

.primaryLightColor {
    color: var(--primaryLight);
}

.primaryLightBorder {
    border-color: var(--primaryLight);
}

.primary400Back {
    background: var(--primary400);
}

.primary400Color {
    color: var(--primary400);
}

.primary400Border {
    border-color: var(--primary400);
}

.primary300Back {
    background: var(--primary300);
}

.primary300Color {
    color: var(--primary300);
}

.primary300Border {
    border-color: var(--primary300);
}

.primaryLighterBack {
    background: var(--primaryLighter);
}

.primaryLighterColor {
    color: var(--primaryLighter);
}

.primaryLighterBorder {
    border-color: var(--primaryLighter);
}

.primary100Back {
    background: var(--primary100);
}

.primary100Color {
    color: var(--primary100);
}

.primary100Border {
    border-color: var(--primary100);
}

.primaryLightestBack {
    background: var(--primaryLightest);
}

.primaryLightestColor {
    color: var(--primaryLightest);
}

.primaryLightestBorder {
    color: var(--primaryLightest);
}

.whiteBack {
    background: #FFFFFF;
}

.whiteColor {
    color: #FFFFFF;
}

.whiteBorder {
    border-color: #FFFFFF;
}

.blackBack {
    background: #000000;
}

.blackColor {
    color: #000000;
}

.blackBorder {
    border-color: #000000;
}

.warningBack {
    background: var(--warning);
}

.warningColor {
    color: var(--warning);
}

.warningBorder {
    border-color: var(--warning);
}

.awareBack {
    background: var(--aware);
}

.awareDone {
    background: var(--aware);
}

.awareBorder {
    border-color: var(--aware);
}

.doneBack {
    background: var(--done);
}

.doneColor {
    color: var(--done);
}

.doneBorder {
    border-color: var(--done);
}

.ABack {
    background: var(--A);
}

.AColor {
    color: var(--A);
}

.ABorder {
    border-color: var(--A);
}

.BBack {
    background: var(--B);
}

.BColor {
    color: var(--B);
}

.BBorder {
    border-color: var(--B);
}

.CBack {
    background: var(--C);
}

.CColor {
    color: var(--C);
}

.CBorder {
    border-color: var(--C);
}

.DBack {
    background: var(--D);
}

.DColor {
    color: var(--D);
}

.DBorder {
    border-color: var(--D);
}

.EBack {
    background: var(--E);
}

.EColor {
    color: var(--E);
}

.EBorder {
    border-color: var(--E);
}

.largeFont {
    font-size: var(--largeFont);
}

.mediumFont {
    font-size: var(--mediumFont);
}

.smallFont {
    font-size: var(--smallFont);
}