<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef class="largeFont primaryDarkColor"> Avdelning </th>
        <td mat-cell *matCellDef="let element" class="mediumFont primaryDarkColor"> {{element.department}} </td>
    </ng-container>
    <ng-container matColumnDef="done">
        <th mat-header-cell *matHeaderCellDef class="largeFont primaryDarkColor"> Senaste </th>
        <td mat-cell *matCellDef="let element" class="smallFont primaryDarkColor"> {{element.done}} </td>
    </ng-container>
    <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef class="largeFont primaryDarkColor"> Nästa </th>
        <td mat-cell *matCellDef="let element" class="smallFont primaryDarkColor"> {{element.updated}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="largeFont primaryDarkColor"> Status </th>
        <td mat-cell *matCellDef="let element" class="smallFont primaryDarkColor"> {{element.status}} </td>
    </ng-container>
    <ng-container matColumnDef="assessment">
        <th mat-header-cell *matHeaderCellDef class="largeFont primaryDarkColor"></th>
        <td mat-cell *matCellDef="let element" class="smallFont primaryDarkColor">
            <!-- <button mat-flat-button id=statsButton class="large-btn smallFont"> {{element.assessment}} </button> -->
            <app-regular-button [buttonText]="element.assessment" btn.color="#004894" btn.back="#E3F2FB"></app-regular-button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
</table>